.modalCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  backdrop-filter: blur(4px);
}

.modalContent {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  -ms-overflow-style: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.modalContent::-webkit-scrollbar {
  width: 0;
}
