
.actionsContainer {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 10px 0 10px 0;
  margin-top: auto;
}

.actionsContainer > time {
  font-size: 12px;
}

.actions {
  display: inline-flex;
  width: 100%;
  font-size: 18px;
}

@media all and (max-width: 768px) {
  .actions {
    order: -1;
  }

  .actionsContainer {
    border-top: 0;
  }
}

.action {
  padding: 0;
  outline: 0;
  max-width: 40px;
  max-height: 40px;
  margin: 5px 4px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
}

.likeContainer {
  display: flex;
  align-items: center;
}

.likesCount {
  cursor: pointer;
}
