
.actionsContainer {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 10px 0 10px 0;
    margin-top: auto;
}

.actionsContainer > time {
    font-size: 12px;
}

.actions {
    display: inline-flex;
    width: 100%;
    font-size: 16px;
}

@media all and (max-width: 768px){
    .actions {
        order: -1;
    }
}

.action {
    padding: 0;
    outline: 0;
    max-width: 40px;
    max-height: 40px;
    margin: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.save {
    composes: action;
    margin-left: auto;
    margin-right: 15px;
}

.likesContainer {
    display: inline-flex;
    align-items: center;
}

.likesContainer span{
    font-size: 0.8em;
}

.bookmark {
    color: #000;
    position: absolute;
    width: 14px;
    height: 18px;
    border-radius: 1px 1px 0 0;
    border-top: solid 2px currentColor;
    border-left: solid 2px currentColor;
    border-right: solid 2px currentColor;
    margin-top: 4px;
    transition: all 0.4s ease;
}

.bookmarkSolid {
    composes: bookmark;
    background: black;
}

.bookmarkFlat {
    composes: bookmark;
}

.bookmarkSolid:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: solid 1px currentColor;
    border-left: solid 1px currentColor;
    background-color: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bookmarkFlat:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: solid 2px currentColor;
    border-left: solid 2px currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
