
.compilation {
  outline: 0;
  padding: 0;
  margin: 10px;
  text-align: center;
}

.modalContainer {
  width: 300px;
  height: 300px;
  margin: auto;
  background: var(--primary);
  border: 1px solid var(--accent);
  border-radius: 3%;
  padding: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.modalBody {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.media {
  position: relative;
  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.title {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--heading);
}

.compilationName {
  padding: 4px 10px;
  height: 28px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #1973cb;
  outline: none;
}

.compilationName:focus {
  border: 1px solid #1e90ff;
  outline: none;
}
