
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px 0 10px;
}

.cover {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
}

.addCover {
    composes: cover;
    font-size: 32px;
    border: 2px dotted gray;
}