
.messages {
  padding: 10px;
  min-height: calc(100vh - 155px);
  margin: 46px 0 15px 0;
}

.mobileMessages {
  composes: messages;
  min-height: calc(100vh - 198px);
  margin-bottom: 58px;
}

.explainingContainer {
  composes: container from '../dialog.module.css';
  display: flex;
  align-items: center;
}
