
.captionContainer {
  display: flex;
  margin: 8px 0 4px 0;
  max-width: 500px;
}

.username {
  font-weight: 700;
  margin-right: 5px;
}

.shortCaption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fullCaption {
  word-break: break-all;
  transition: 2s;
}

@media all and (max-width: 500px) {
  .captionContainer {
    max-width: 400px;
  }
}

@media all and (max-width: 400px) {
  .captionContainer {
    max-width: 300px;
  }
}
