
.container {
  display: flex;
  align-items: center;
  width: 100%;
  color: #000;
}

.container:hover {
  color: #000;
}

.container + .container {
  margin-top: 6px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #efefef;
}

.username {
  font-weight: 600;
}

.close {
  margin-left: auto;
}
