
.userCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 15px 10px;
  border: 1px solid var(--accent);
  border-radius: 10px;
  padding: 10px 20px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  margin: 5px auto auto;
}

.actionButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  width: 140px;

}

.avatar {
  height: 50px;
  width: 50px;
  color: var(--text);
  border: 1px solid var(--accent);
  border-radius: 50%;
}

.avatar img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.usernameLink {
  color: var(--text);
  font-weight: 500;
}

.usernameLink:hover {
  color: var(--text);
}
