
.drawer {
  border-radius: 12px 12px 0 0;
  background-color: var(--primary);
}

.modal {
  min-width: 400px;
}

.editContainer {
  position: relative;
  padding: 3em 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  height: calc(100% - 50px);
}

.transitionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editButton {
  margin: 3px 10px 0 10px;
}

.editContainer form {
  width: 100%;
}
