
.container {
  position: absolute;
  top: 15px;
  transform: translateZ(0);
  width: 100%;
}

.search {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.searchBox input[type="text"] {
  border: none;
  background: none;
  z-index: 1;
  width: 14px;
  transition: all 0.16s ease-in 0.16s;
  color: var(--text);
}

.searchBox input[type="text"]:hover {
  cursor: pointer;
}

.searchBox input[type="text"]:hover:focus {
  cursor: text;
}

.searchBox input[type="text"]:focus {
  width: 220px;
  padding: 0 10px 10px;
  outline: none;
  background: none;
  color: var(--text)
}

.searchBox input[type="text"]:focus + span {
  width: 200px;
  border-radius: 8px;
}

.searchBox input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all 0.16s ease-in;
}

.searchBox input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 1px solid #1890ff;
  top: 1px;
  width: 18px;
  height: 18px;
  transition: all 0.16s ease-in 0.16s;
  border-radius: 10px;
  left: 0;
}

.searchBox input[type="text"] + span::before {
  transition: all 0.16s ease-in 0.16s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 8px;
  height: 2px;
  border-radius: 5px;
  background: #1890ff;
  transform: rotate(45deg) translate(20px, -1px);
}
