
.directionContainer {
  display: flex;
  align-items: center;
}

.username {
  font-size: 20px;
  margin-right: auto;
}

.friendshipMessageContainer {
  display: flex;
  width: 250px;
  margin: 5px 0;
  flex-wrap: wrap;
  justify-content: center
}

.friendshipMessageContainer button {
  margin: 5px;
}
