
.container {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  height: 600px;
  max-height: 100vh;
  width: 460px;
  border-radius: 6px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.container::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;;
  }
}
