
.settingsContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

.settingsContainer > li:nth-child(n) {
     list-style-type: none;
     cursor: pointer;
     margin-bottom: 12px;
}

.settingsContainer > li:nth-child(n):hover {
    color: #000c17;
}

.settingsContainer > li > span{
    margin-right: 10px;
}

.settingsButton {
    cursor: pointer;
    transition: 0.5s;
}

.settingsButton:hover {
    transform: rotate(160deg);
}

.logoutContainer {
    margin-top: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logout {
    border: none;
    background: transparent;
    color: dodgerblue;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}
