
.heart {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.heartActive {
  color: rgba(255, 0, 0, 1);
  cursor: pointer;
}

.comment {
  display: inline-block;
  align-items: center;
  width: 100%;
  padding: 5px 2px;
  cursor: pointer;
}

.username {
  display: inline-flex;
  margin-right: 5px;
  font-weight: 500;
  color: var(--text);
}

.username:hover {
  color: var(--text);
}

.metaContainer {
  width: 100%;
  align-items: center;
  font-size: 0.8em;
  margin-top: 5px;
  color: gray;
}

.likesCount {
  margin-left: 15px;
  font-weight: bold;
}

.infoAvatarContainer {
  display: flex;
}

.avatar {
  width: 28px;
  height: 28px;
  margin: 3px 10px 0 0;
  border-radius: 50%;
}

.text {
  word-break: break-all;
}

.container {
  width: 100%;
}

.like {
  display: flex;
  align-items: flex-end;
  font-size: 0.8em;
  margin-left: 5px;
}
