main {
    background-color: #fafafa;
}

.ant-drawer-body {
    height: calc(100% - 55px);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: #EAEAEA;
}