
.wrapper {
  overflow-y: auto;
  scrollbar-width: thin;
}

.wrapper::-webkit-scrollbar {
  width: 4px;
}

.wrapper::-webkit-scrollbar-thumb {
  width: 4px;
  background: rgba(33, 33, 33, 0.32);
  border-radius: 1px;
}

.media {
  width: 100%;
  transition: 200ms;
}

.iconsContainer {
  width: 100px;
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  width: 20px;
}
