
.wrapper {
  display: flex;
  align-items: center;
}

.wrapper + .wrapper {
  margin-top: 5px;
}

.myWrapper {
  composes: wrapper;
  position: relative;
  left: 50px;
}

.container {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.text {
  position: relative;
  border: 1px solid #efefef;
  padding: 5px 10px;
  border-radius: 25px;
  max-width: 70%;
  width: fit-content;
  word-break: break-all;
}

.text::after {
  content: '';
  background: #2f54eb;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.myText {
  composes: text;
  background: #efefef;
  margin-left: auto;
  width: fit-content;
}

.unreadBadge {
  position: absolute;
  right: calc(100% + 15px);
  top: calc(100% - 18px - 2%);
  content: '';
  background: #2f57f9;
  opacity: 0.6;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.myTime {
  font-size: 0.7rem;
  margin-left: 20px;
}

.time {
  composes: myTime;
  position: relative;
  left: 50px;
}
