
.container {
  position: absolute;
  top: 15px;
  transform: translateZ(0);
  width: 100%;
}

.search {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.searchBox input[type="text"] {
  border: none;
  background: none;
  z-index: 1;
  width: 20px;
  transition: all 0.16s ease-in 0.16s;
  color: transparent;

}

.searchBox input[type="text"]:hover {
  cursor: pointer;
}

.searchBox input[type="text"]:hover:focus {
  cursor: text;
}

.searchBox input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}

.searchBox input[type="text"]:focus {
  width: 220px;
  padding: 0 10px 10px;
  outline: none;
  background: none;
  color: black;
}

.searchBox input[type="text"]:focus + span {
  width: 200px;
  border-radius: 8px;
}

.searchBox input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all 0.16s ease-in;
}

.searchBox input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 1px solid cornflowerblue;
  top: 0;
  width: 20px;
  height: 20px;
  transition: all 0.16s ease-in 0.16s;
  border-radius: 10px;
  left: 0;
}

.searchBox input[type="text"] + span::before {
  transition: all 0.16s ease-in 0.16s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 8px;
  height: 2px;
  border-radius: 5px;
  background: cornflowerblue;
  transform: rotate(45deg) translate(22px, -2px);
}
