
.postControl {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 16px 16px 14px 16px;
}

@media (max-width: 810px) {
  .postControl {
    width: auto;
  }
}

.header {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: 1px solid #efefef;
  order: -2;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .0975);
}

.usernameLocation {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
}

.username {
  color: #262626;
}

.location {
  font-size: 0.7rem;
  color: darkgrey;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.caption {
  padding: 5px 5px 10px 5px;
  max-height: 190px;
  max-width: 100%;
  overflow-y: auto;
}

.caption::-webkit-scrollbar {
  width: 2px;
}

.caption::-webkit-scrollbar-thumb {
  width: 2px;
  background: rgba(33, 33, 33, 0.32);
  border-radius: 1px;
}

.captionUsername {
  display: inline-flex;
  margin-right: 5px;
  margin-bottom: 0;
}

.footer {
  display: inline-flex;
  align-items: flex-end;
  margin-top: 10px;
}

.commentInputContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 100%;
}

.commentInput {
  border: none;
  width: 100%;
  margin-right: 8px;
  outline: 0
}

.commentsList {
  -ms-overflow-style: none;
  overflow-y: auto;
  max-height: 280px;
}

.commentsList::-webkit-scrollbar {
  width: 2px;
}

.commentsList::-webkit-scrollbar-thumb {
  width: 2px;
  background: rgba(33, 33, 33, 0.32);
  border-radius: 1px;
}

@media all and (max-width: 768px) {
  .commentsList {
    max-height: 300px;
  }
}

.submitButton {
  border: 0;
  background: 0;
  padding: 0;
  color: #1e90ff;
  cursor: pointer;
}

.loader {
  margin: 0;
}
