
.comments {
    font-size: 10px;
}

.feedList {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 90%;
    margin: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    border: 1px solid #e6e6e6;
    padding: 15px;
    margin-bottom: 40px;
}

.mediaContainer {
    cursor: pointer;
    margin-left: -15px;
    width: calc(100% + 30px);
    position: relative;
}

.mediaContainer img, video {
    width: 100%;
}