
.sectionContainer {
    max-width: 350px;
    margin: auto;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;
    border: 2px solid rgb(100, 100 , 100);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
}

.sectionLabel {
    font-size: x-large;
    font-weight: 400;
}