
.container {
  position: relative;
  background: var(--primary);
  min-width: 600px;
  border-radius: 10px;
  height: 100%;
  padding: 15px 0;
  transition: 140ms;
}

.mobileContainer {
  composes: container;
  min-width: 0;
}

.search {
  margin: 12px 15px;
}

.doneButton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #1e90ff;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 1.1rem;
  transition: 60ms;
}

.doneButton:hover {
  background: #2f54eb;
}
