
.container {
  position: relative;
  background: var(--primary);
  min-width: 600px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  padding: 15px 0;
  transition: 140ms;
}

.mobileContainer {
  composes: container;
  min-width: 0;
}

.search {
  margin: 12px 15px;
}
