
.friendshipsContainer {
  background: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  height: 80vh;
}

.friendshipsContainer > ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 4px 0 0;
  margin: 5px 0 0;
  overflow-y: auto;
  scrollbar-width: thin;
}

.friendshipsContainer > ul::-webkit-scrollbar {
  width: 4px;
}

.friendshipsContainer > ul::-webkit-scrollbar-thumb {
  width: 4px;
  background: rgba(33, 33, 33, 0.32);
  border-radius: 2px;
}

.friendshipsContainer > ul > li:nth-child(n) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 2px;
  list-style-type: none;
  cursor: pointer;
}

.inputUsername {
  padding-left: 10px;
}

.cardContainer {
  display: inline-flex;
  align-items: center;
  width: inherit;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, .0975);
}

.unFollowButton {
  border-radius: 5px;
  margin-left: auto;
  min-width: 100px;
  outline: none;
  transition: 140ms;
  cursor: pointer;
  background: #fff;
  color: #000;
  border: 1px solid #efefef;
}

.unFollowButton:hover {
  background: #fff;
}

.search {
  padding: 4px 8px;
  color: #000;
  width: 100%;
  transition: 140ms;
  outline: none;
  border: 1px solid #efefef;
  border-radius: 5px;
}

.search::placeholder {
  color: #9a9a9a;
}
