
.mainContainer {
  display: flex;
  margin: 5px 0 10px 0;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 20px 0 20px
}

@supports not (justify-content: space-evenly) {
  .mainContainer {
    justify-content: space-around;
  }
}

.unitContainer {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

@media (max-width: 425px) {
  .unitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.unitNumber {
  color: var(--text);
  font-weight: 600;
  margin-right: 5px;
}

.simpleTextStyledItem {
  color: currentColor;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
}
