
.bodyWrapper {
  max-height: 95vh;
}

.button {
  border: 0;
  height: 20px;
  background: transparent;
  margin-top: 6px;
  outline: none;
  cursor: pointer;
}

.drawer {
  background-color: var(--primary);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.icon {
  margin-top: 1px;
}
