.modalCover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transform: translateZ(0);
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.modalContent {
    position: fixed;
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
    -ms-overflow-style: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.modalContent::-webkit-scrollbar { width: 0; }
