
.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.media {
  position: static;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
  border-radius: 10px;
}

.caption {
  border: 0;
  margin-left: 5px;
  padding: 2px 2px 5px 2px;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: var(--text);
}

.button {
  background: transparent;
  padding: 2px 8px;
  width: 100%;
  color: var(--text);
  border: 1px solid var(--accent-second);
  margin: 5px 0 ;
  border-radius: 5px;
  cursor: pointer;
  transition: 140ms;
}

.button:hover {
  border-color: #1892ff;
}
