
.container {
  display: flex;
  align-items: center;
}

.container + .container {
  margin-top: 8px;
}

.username {
  margin-left: 10px;
  color: var(--text);
}

.username:hover {
  color: var(--text);
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
