
.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

.container + .container {
  margin-top: 8px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.username {
  font-weight: 700;
}

.sendButton {
  border-radius: 5px;
  background: rgb(81, 124, 255);
  border: 0;
  color: #fff;
  margin-left: auto;
  min-width: 100px;
  outline: none;
  transition: 140ms;
  cursor: pointer;
}

.sendButton:hover {
  background: rgb(39, 75, 255);
}

.sentButton {
  composes: sendButton;
  background: #fff;
  color: #000;
  border: 1px solid #efefef;
}

.sentButton:hover {
  background: #fff;
}
