
.container {
  max-width: 700px;
  min-width: 310px;
  max-height: 95vh;
  border-radius: 15px;
  background: var(--primary);
  color: var(--text);
}

.title {
  border-bottom: 1px solid var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  margin: 0;
  color: var(--text);
}

.body {
  padding: 8px 14px;
  max-height: calc(95vh - 40px);
  overflow-y: auto;
}

.body::-webkit-scrollbar {
  width: 6px;
}

.body::-webkit-scrollbar-thumb {
  width: 6px;
  background: var(--scrollbar);
  border-radius: 2px;
}
