
.container {
  background-color: var(--primary);
  min-width: 320px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.title {
  border-bottom: 1px solid var(--accent-second);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  margin: 0;
  color: var(--modal-heading);
}

.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--text);
}

.ok {
  composes: button;
  color: #40a9ff;
}

.cancel {
  composes: button;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 5px 12px 10px 12px;
}

.buttonOkContainer {
  display: flex;
}
