@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.welcome {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*background: linear-gradient(135deg, rgba(3, 192, 253, .55), rgba(155, 35, 181, 0.5));*/
}

.companyInfo {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  align-self: flex-start;
  margin: 12% 50px 20px 50px;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  color: var(--heading);
  margin: 0 0 0 10px;
}

.card {
  width: 320px;
  background-color: var(--primary);
  border: 1px solid var(--accent-second);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 2px 14px rgba(0, 0, 0, 0.17), 0 2px 8px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .welcome {
    flex-direction: column;
    justify-content: flex-start;
  }

  .companyInfo {
    margin: 10px 20px 40px 20px;
  }
}

.logo {
  width: 450px;
  height: 310px;
}

















