
.mediaContainer {
  height: 100%;
}

.mediaContainer > video {
  max-height: 500px;
  width: 500px;
}

.media {
  position: relative;
  width: 100%;
  min-width: 498px;
  min-height: 310px;
}

.media img {
  position: relative;
  max-height: 500px;
  min-height: 310px;
  min-width: 498px;
}

.media img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #efefef;
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  .media {
    min-width: 100%;
  }

  .media img {
    min-width: 100%;
  }

  .mediaContainer > video {
    width: 100%;
  }

  .mediaContainer:before > video {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.video {
  position: relative;
  width: 500px;
}

@media (max-width: 500px) {
  .video {
    width: 100%;
  }
}
