
.container {
  position: relative;
}

.showMarksButton {
  position: absolute;
  top: calc(100% - 35px);
  left: 10px;
  background: rgba(0, 0, 0, 0.53);
  padding: 4px 10px;
  font-size: 0.75rem;
  color: #fff;
  border: 0;
  border-radius: 4px;
}

.showMarksButtonVideo {
  composes: showMarksButton;
  top: 6px;
  left: 6px;
}

.drawer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.computerMarksContainer {
  width: 400px;
  border-radius: 10px;
  background: #fff;
  max-height: 600px;
}

.mobileMarkedUsersContainer {
  max-height: 350px;
}

.markedUsersContainer {
  max-height: 600px;
}
