
.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--primary);
  padding: 12px 12px 16px 12px;
  margin-bottom: 25px;
  border-radius: 3px;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.16);
}

.mediaContainer {
  cursor: pointer;
  margin-left: -12px;
  width: calc(100% + 24px);
  position: relative;
}

.mediaContainer > img, video {
  width: 100%;
}

.actions {
  border-top: 0;
  padding-top: 0;
  margin-top: 4px;
}

.comments {
  font-size: 0.85em;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.comments::-webkit-scrollbar {
  width: 2px;
}

.comments::-webkit-scrollbar-thumb {
  width: 2px;
  background: var(--scrollbar);
  border-radius: 1px;
}
