
.wrapper {
  max-width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.wrapper::-webkit-scrollbar {
  width: 4px;
}

.wrapper::-webkit-scrollbar-thumb {
  width: 4px;
  background: var(--scrollbar);
  border-radius: 1px;
}

.container {
  padding: 0 10px;
}

.button {
  color: var(--text);
  background: transparent;
  padding: 2px 8px;
  width: 100%;
  border: 1px solid var(--accent);
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.caption {
  border: 0;
  margin: 8px 0;
  padding: 4px 8px;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: var(--text);
  scrollbar-width: thin;
}

.caption::-webkit-scrollbar {
  width: 4px;
}

.caption::-webkit-scrollbar-thumb {
  width: 4px;
  background: var(--scrollbar);
  border-radius: 2px;
}
