
.notificationsList {
    background: white;
    border: 1px solid #efefef;
    border-radius: 8px;
    padding: 0 10px;
    margin: 0 14px 14px;
}

.notificationsList img {
    height: 50px;
    width: 50px;
}

.postLink {
    margin-left: auto;
    margin-right: 10px;
}

.notificationCard {
    margin: 20px 5px 20px 5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.comment {
    word-wrap: break-word;
}

.avatar {
    min-height: 50px;
    min-width: 50px;
    color: black;
}

.avatar img {
    border-radius: 50%;
}

@media (max-width: 350px) {
    .infoContainer {
        width: 150px;
    }
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 1em;
}

.infoContainer span {
    margin-right: 5px;
}

.timeContainer {
    font-size: 0.8em;
    color: lightgrey;
}

.usernameLink {
    color: black;
    font-weight: 500;
}