
.leave {
    opacity: 1;
    transform: scaleX(1) translateY(0);
}

.leaveActive {
    opacity: 0;
    transition: all 500ms ease-in-out
}

.appear {
    opacity: 0;
}

.appearActive {
    opacity: 1;
    transition: 500ms ease-out;
}