

.searchContainer {
  color: #9a9a9a;
  display: flex;
  align-items: center;
  border: 1px solid #e7e7e7;
  padding: 6px 12px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.searchContainer input {
  border: none;
  padding: 0 5px;
  margin-left: 5px;
  color: #000;
}

.searchContainer input::placeholder {
  color: #9a9a9a;
}
