
.container {
  position: relative;
  height: fit-content;
  overflow-y: auto;
  width: 100%;
}

.container::-webkit-scrollbar {
  width: 4px;
}

.container::-webkit-scrollbar-thumb {
  width: 4px;
  background: rgba(33, 33, 33, 0.32);
  border-radius: 2px;
}

.searchContainer {
  position: relative;
}

.media {
  position: static;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.searchInput {
  margin: 6px 10px;
}

.markedUsersContainer {
  max-height: 600px;
  overflow-y: auto;
}
