
.container {
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  scrollbar-width: thin;
}

.container::-webkit-scrollbar {
  width: 4px;
}

.container::-webkit-scrollbar-thumb {
  width: 4px;
  background: var(--scrollbar);
  border-radius: 2px;
}

.searchContainer {
  position: relative;
}

.media {
  position: static;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.searchInput {
  margin: 6px 10px;
}

.markedUsersContainer {
  max-height: 600px;
  overflow-y: auto;
}
