
.container {
  width: 220px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 2px 14px rgba(0, 0, 0, 0.17), 0 2px 8px rgba(0, 0, 0, 0.05);
}

@media (min-width: 1800px) {
  .container {
    width: 245px;
  }
}

.container + .container {
  margin-top: 40px;
}

.header {
  height: 36px;
  font-weight: bold;
  padding: 8px 14px;
}

.img {
  max-width: 100%;
}

.img img {
  max-width: 100%;
}

.footer {
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerStubsContainer {
  display: flex;
  width: 80%;
}

.cardTextStub {
  height: 15px;
  border-radius: 5px;
  background-color: rgba(132, 169, 192, 0.13);
  width: 140px;
}

.cardTextStub + .cardTextStub {
  margin-left: 5px;
}
