
.settingsTitle {
  margin-left: 10px;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}

.settingsContainer > li:nth-child(n) {
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 12px;
}

.settingsContainer > li:nth-child(n) {
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 12px;
}

.linkStyle {
  color: rgb(135, 135, 135);
}

.linkStyle:hover {
  color: black;
}

.messagesLink {
  position: relative;
  composes: linkStyle;
}

.messagesLink:not([data-countofunreadmessages='0'])::after {
  content: attr(data-countofunreadmessages);
  position: absolute;
  top: 5%;
  left: 110%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: bold;
  background: red;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.notificationsLink {
  position: relative;
  composes: linkStyle;
}

.notificationsLink:not([countofunreadnotifications='0'])::after {
  content: attr(countofunreadnotifications);
  position: absolute;
  top: 5%;
  left: 110%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: bold;
  background: red;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.settingsButton {
  cursor: pointer;
  transition: 0.5s;
  margin-top: 3px;
}

.settingsButton:hover {
  transform: rotate(160deg);
}

.logoutContainer {
  margin-top: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logout {
  border: none;
  background: transparent;
  color: dodgerblue;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}

.privateContainer {
  composes: linkStyle;
  display: inline-flex;
  align-items: center;
}

.privateContainer > span {
  margin-right: 10px;
}

.user {
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .0975);
  margin-right: 8px;
}
