
.compilation {
  outline: 0;
  padding: 0;
  margin: 10px;
  text-align: center;
}

.modalContainer {
  width: 300px;
  height: 300px;
  margin: auto;
  background: white;
  border: 1px solid #efefef;
  border-radius: 3%;
  padding: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.modalContainer img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 1.2em;
  font-weight: 500;
}

.compilationName {
  padding: 4px 10px;
  border: 0;
  height: 28px;
  border-radius: 5px;
  width: 100%;
}

.compilationName:focus {
  border: 1px solid #1e90ff;
  outline: none;
}
