
.postModalContainer {
    display: flex;
    flex-direction: row;
    background: white;
    height: 500px;
    margin: auto;
    width: max-content;
}

@media all and (max-width: 768px) {
    .postModalContainer {
        flex-direction: column;
        height: auto;
        /*width: auto;*/
    }
}