
.postModalContainer {
    display: flex;
    flex-direction: row;
    background: white;
    height: 500px;
    margin: auto;
    width: max-content;
}

@media all and (max-width: 810px) {
    .postModalContainer {
        flex-direction: column;
        height: auto;
        min-width: 310px;
        width: auto;
    }
}
