
.container {
  display: flex;
  margin: 10px 0;
  color: var(--text);
  height: 40px;
  align-items: center;
}

.locations {
  margin-left: 10px;
  padding-bottom: 2px;
  overflow-x: auto;
  height: 34px;
  display: flex;
  align-items: center;
  scrollbar-width: thin;
}

.locations::-webkit-scrollbar {
  width: 2px;
}

.locations::-webkit-scrollbar-thumb {
  width: 2px;
  background: var(--scrollbar);
  border-radius: 1px;
}

.tag {
  cursor: pointer;
}
