
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 12px;
  min-height: 40px;
  height: 44px;
  align-items: center;
  border-bottom: 1px solid var(--accent);
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--heading);
  font-weight: 500;
}

.next {
  border: 0;
  background: transparent;
  color: #1e90ff;
  margin-left: auto;
  cursor: pointer;
  transition: 140ms;
}

.next:hover {
  color: #37afff;
}

.back {

}
