
.header {
  position: sticky;
  top: 0;
  transform: translateZ(0);
  height: 50px;
  border-bottom: 1px solid #efefef;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .0975);
}

.logo {
  margin-left: 20px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.username {
  margin: 0 10px 0 5px;
}

.rightContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.messagesLink {
  position: relative;
}

.messagesLink:hover {
  cursor: pointer;
}

.messagesLink:not([countofunreadmessages='0'])::after {
  content: attr(countofunreadmessages);
  position: absolute;
  top: -20%;
  left: 45%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: bold;
  background: red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.messagesIcon {
  width: 24px;
  margin-right: 16px;
}
