
.header {
    height: 50px;
    border-bottom: 1px solid #efefef;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logout {
    border: none;
    background: transparent;
    color: dodgerblue;
    outline: none;
    margin-right: 20px;
}