
.modal {
  max-width: 80vw;
  min-width: 200px;
}

.container {
  padding: 20px 20px 20px 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title {
  color: var(--modal-heading);
  text-align: center;
}

.iconCard {
  padding: 20px;
  background-color: var(--primary);
  margin: 5px 10px 10px;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.icon {
  width: 36px;
  height: 36px;
}

.text {
  color: var(--text);
  margin-bottom: 15px;
  max-width: 260px;
  text-align: center;
}

.loader {
  position: relative;
  width: 100%;
  height: 4px;
  margin-top: auto;
}

.loader::after {
  content: '';
  position: absolute;
  left: 0;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  width: 100px;
  height: 4px;
  background-color: var(--text);
}

@keyframes loading{
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(calc(400px));
  }
}
