
.container{
  position: absolute;
  left: 80px;
  height: 100vh;
  padding: 40px 0;
  margin: 0;
  animation-name: up;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.container:hover {
  animation-play-state: paused;
}

@media (max-width: 1300px) {
  .container {
    display: none;
  }
}

@keyframes up {
  from {
    transform: translate3d(0, 100vh, 0);
  }

  to {
    transform: translate3d(0, -3000px, 0);
    opacity: 1
  }
}
