
.blacklistContainer {
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.cardsList {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2%;
    width: 100%;
}

@media (min-width: 425px) {
    .cardsList {
        display: flex;
        justify-content: flex-start;
    }
}