
.container {
  background: var(--primary);
  width: 100%;
  max-width: 650px;
  display: flex;
  border-top: 1px solid var(--accent);
  padding: 10px;
}

.messageInput {
  padding: 5px 38px 5px 8px;
  border: 1px solid var(--accent);
  background-color: transparent;
  color: var(--text);
  border-radius: 25px;
  width: 100%;
  transition: 130ms;
}

.messageInput:focus {
  outline: none;
  border-color: rgba(32, 142, 255, 0.77);
}

.sendButton {
  border: none;
  background: transparent;
  color: rgba(32, 142, 255, 0.9);
  font-weight: bold;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  font-size: 18px;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.emojiIcon {
  position: absolute;
  right: 8px;
  top: 97%;
  transform: translateY(-100%);
}

.emojiIcon > img {
  width: 20px;
}
