
.container {
  background: #fff;
  width: 100%;
  max-width: 650px;
  display: flex;
  border-top: 1px solid #efefef;
  padding: 10px;
}

.messageInput {
  padding: 5px 38px 5px 8px;
  border: 1px solid #efefef;
  border-radius: 25px;
  width: 100%;
  transition: 130ms;
}

.messageInput:focus {
  outline: none;
  border-color: rgba(32, 142, 255, 0.77);
}

.sendButton {
  border: none;
  background: transparent;
  color: rgba(32, 142, 255, 0.9);
  font-weight: bold;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  font-size: 18px;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.emojiIcon {
  position: absolute;
  right: 8px;
  top: 45%;
  transform: translateY(-50%);
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

.emojiIcon > img {
  width: 20px;
}
