
.heart {
  composes: action from '../actions.module.css';
  color: var(--icon);
}

.redHeart {
  composes: action from '../actions.module.css';
  color: rgb(255, 68, 75);
  animation: beat;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.likesCount {
  cursor: pointer;
}
