
.friendshipsContainer {
    background: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    min-width: 300px;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    overflow: hidden;
}

.friendshipsContainer > ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 5px 5px 0 5px;
}

.friendshipsContainer > ul > li:nth-child(n) {
    border-bottom: 1px solid #efefef;
    width: 100%;
    list-style-type: none;
    cursor: pointer;
}

.friendshipsContainer > ul > li:last-child {
    border: none;
}

.friendshipsContainer > input {
    padding-left: 10px;
}

.cardContainer {
    display: inline-flex;
    align-items: center;
    width: inherit;
    padding: 8px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, .0975);
}

.list {
    min-height: 100px;
}