
.mainContainer {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-evenly;
    padding: 0 20px 0 20px
}

.unitContainer {
    display: flex;
    flex-direction: row;
}

@media (max-width: 425px) {
    .unitContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.unitNumber {
    color: black;
    font-weight: 600;
    margin-right: 5px;
}

.simpleTextStyledItem {
    color: currentColor;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
}