
/* form starting stylings ------------------------------- */
.group {
    position:relative;
    width: 100%;
    height: 50px;
}
input {
    padding: 10px 10px 5px 5px;
    display:block;
    border:none;
    border-bottom:1px solid #757575;
    width: 100%;
    line-height: 1.5;
}
input:focus { outline:none; }

/* LABEL ======================================= */
.label {
    color:#999;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:-34px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ .label, input:valid ~ .label {
    top:-56px;
    font-size:14px;
    color:cornflowerblue;
}

/* BOTTOM BARS ================================= */
.bar { position:relative; display:block; }
.bar:before, .bar:after {
    content:'';
    height:1px;
    width:0;
    position:absolute;
    background: cornflowerblue;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:cornflowerblue; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:cornflowerblue; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:cornflowerblue; }
    to 	{ width:0; background:transparent; }
}