
.save {
  composes: action from '../actions.module.css';
  margin-left: auto;
  margin-right: 5px;
}

.bookmark {
  width: 20px;
  height: 20px;
  fill: #2f54eb;
  background-size: cover;
}

.bookmarkFlat {
  composes: bookmark;
  background-image: url("./icons/bookmarkFlat.svg");
}

.bookmarkSolid {
  composes: bookmark;
  background-image: url("./icons/bookmarkSolid.svg");
}
