
.container {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  min-height: calc(100vh - 150px);
  background: var(--primary);
}

.explainingContainer {
  composes: container;
  display: flex;
  align-items: center;
}
