
.container {
  display: flex;
  margin-top: 10px;
  padding: 10px 15px;
  transition-duration: 300ms;
}

.unreadContainer {
  composes: container;
  position: relative;
}

.unreadContainer::after {
  position: absolute;
  content: '';
  background: rgb(255, 68, 75);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  left: 12px;
  top: 8px;
}

.infoContainer {
  width: 100%;
  margin-left: 10px;
  border-bottom: solid 1px var(--accent);
  padding-bottom: 10px;
  color: currentColor;
  max-width: calc(100% - 65px);
}

.infoContainer:hover {
  color: currentColor;
}

.infoHeader {
  display: flex;
  justify-content: space-between;
}

.username {
  font-weight: bold;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border: 1px solid var(--accent);
}

.avatar img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  border: 1px solid rgba(0, 0, 0, .05);
}

.text {
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.myMessageIsUnread {
  composes: text;
  position: relative;
  padding-left: 20px;
}

.myMessageIsUnread::after {
  position: absolute;
  content: '';
  left: 5px;
  top: 8px;
  background: var(--badge-unread-message);
  opacity: 0.6;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
