
.container {
  padding: 0 15px 12px;
  border-bottom: 1px solid #efefef;
}

.media {
  display: inline-block;
  float: left;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #efefef;
  object-fit: cover;
}

.input {
  border: 0;
  width: calc(100% - 70px);
  margin-left: 15px;
  outline: none;
}
