
.container {
  display: flex;
  padding: 0 15px 12px;
  border-bottom: 1px solid #efefef;
}

.image {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #efefef;
}

.input {
  border: 0;
  margin-left: 15px;
  outline: none;
}
