
.subReqLabel {
  display: flex;
  margin: 0 14px 14px 0;
  padding: 14px;
  background: var(--primary);
  border-radius: 6px;
  border: 1px solid var(--accent);
  max-width: 350px;
}

.avatar {
  height: 50px;
  width: 50px;
}

.avatar img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.avatarContainer {
  margin-right: 20px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subReqTitle {
  font-weight: 600;
  font-size: 1.1em;
  color: var(--heading);
}

.subsContainer {
  background: var(--primary);
  border: 1px solid var(--accent);
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0 14px 0;
}

.title {
  margin: 10px 0 15px 0;
  font-weight: 500;
  font-size: 1.2em;
  color: var(--heading);
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 30vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.cardsContainer::-webkit-scrollbar {
  width: 4px;
}

.cardsContainer::-webkit-scrollbar-thumb {
  width: 4px;
  background: var(--scrollbar);
  border-radius: 2px;
}
