
.container {
  position: absolute;
  top: 44px;
  left: 50%;
  width: 200px;
  overflow: visible;
  border: 1px solid var(--accent);
  border-radius: 5px;
  padding: 10px;
  background: var(--primary);
  transform: translateX(-50%);
  z-index: 100;
}

.list {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.list::-webkit-scrollbar {
  width: 2px;
}

.list::-webkit-scrollbar-thumb {
  width: 2px;
  background: var(--scrollbar);
  border-radius: 1px;
}

.container::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  width: 10px;
  height: 10px;
  background: var(--primary);
  transform: translateX(-50%) rotate(45deg);
  border-top: solid 1px var(--accent);
  border-left: solid 1px var(--accent);
}

.nothingToShow {
  margin: 20px 0;
  text-align: center;
}
