
.label {
  display: flex;
}

.inputLocation {
  width: min-content;
  border: 0;
  padding: 0 5px 2px 5px;
  margin: 0 10px;
  border-bottom: 1px solid #1e90ff;
  outline: none;
}

.recommendedContainer {
  display: flex;
  margin: 10px 0;
}

.locations {
  margin-left: 10px;
}

.location {
  padding: 4px 0;
}

.button {
  color: #000;
  background: transparent;
  padding: 2px 8px;
  width: 100%;
  border: 1px solid #efefef;
  margin: 5px 0 ;
  border-radius: 5px;
}

.container {
  position: relative;
}

.closeButton {
  position: absolute;
  left: calc(100% - 10px);
}
