
.label {
  display: flex;
  color: var(--text);
}

.inputLocation {
  width: min-content;
  border: 0;
  padding: 0 5px 2px 5px;
  margin-left: 8px;
  border-bottom: 1px solid #1e90ff;
  background-color: transparent;
  color: var(--text);
  outline: none;
}

.recommendedContainer {
  display: flex;
  margin: 10px 0;
  color: var(--text);
  height: 40px;
  align-items: center;
}

.locations {
  margin-left: 10px;
  padding-bottom: 2px;
  overflow-x: auto;
  height: 34px;
  display: flex;
  align-items: center;
  scrollbar-width: thin;
}

.locations::-webkit-scrollbar {
  width: 2px;
}

.locations::-webkit-scrollbar-thumb {
  width: 2px;
  background: var(--scrollbar);
  border-radius: 1px;
}

.button {
  color: var(--text);
  background: transparent;
  padding: 2px 8px;
  width: 100%;
  border: 1px solid var(--accent-second);
  margin: 5px 0 ;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  position: relative;
}

.closeButton {
  position: absolute;
  left: calc(100% - 10px);
}

.tag {
  cursor: pointer;
}
