
.label {
  display: flex;
  color: var(--text);
}

.inputLocation {
  width: min-content;
  border: 0;
  padding: 0 5px 2px 5px;
  margin-left: 8px;
  border-bottom: 1px solid #1e90ff;
  background-color: transparent;
  color: var(--text);
  outline: none;
}

.container {
  position: relative;
}

.closeButton {
  position: absolute;
  left: calc(100% - 10px);
}

.button {
  width: 100%;
  margin-bottom: 8px;
}
