.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  line-height: 1;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.closeButton:hover .closeIcon{
  stroke-width: 2px;
}

.closeIcon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: white;
  stroke-linecap: round;
  transition: 140ms;
}
