
.container {
  position: relative;
  max-width: 650px;
  width: 95%;
  min-height: calc(100vh - 110px);
  margin: 10px auto 0 auto;
  background: var(--primary);
  border-radius: 4px;
  box-shadow: 0 1px 0 0 var(--accent), 0 0 0 1px var(--accent-second);
  color: var(--text);
  padding: 10px 0;
}

.labelContainer {
  min-height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  justify-content: center;
}
