
.header {
  position: sticky;
  top: 0;
  transform: translateZ(0);
  height: 50px;
  border-bottom: 1px solid var(--accent);
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  margin-top: 2px;
  border: 1px solid var(--accent);
}

.logo {
  margin-top: 2px;
  margin-left: 18px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.username {
  margin: 0 10px 0 5px;
}

.rightContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.messagesLink {
  position: relative;
}

.messagesLink:hover {
  cursor: pointer;
}

.messagesLink:not([data-countofunreadmessages='0'])::after {
  content: attr(data-countofunreadmessages);
  position: absolute;
  top: 5px;
  left: 45%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: bold;
  background: rgb(255, 68, 75);
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.messagesIcon {
  margin-top: 10px;
  margin-right: 12px;
  fill: var(--heading);
}
