
.staticSaveBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 45px;
  background: transparent;
}

.drawer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: transparent;
}

.compilationsModal {
  width: 55vw;
}

.saveBar {
  composes: staticSaveBar;
}

.compilationsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(90vh - 50px);
  background-color: var(--primary);
  overflow-y: auto;
  scrollbar-width: thin;
  margin: 0 auto;
  padding: 10px 0;
}

.compilationsContainer::-webkit-scrollbar {
  width: 2px;
}

.compilationsContainer::-webkit-scrollbar-thumb {
  width: 2px;
  background: var(--scrollbar);
  border-radius: 1px;
}

.staticButtonLink {
  border: 0;
  outline: 0;
  background: transparent;
  color: rgba(30, 144, 255, 0.82);
  cursor: pointer;
}

.buttonLink {
  border: 0;
  outline: 0;
  background: transparent;
  color: rgba(30, 144, 255, 0.82);
  cursor: pointer;
}

.compilationsList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@supports (display: grid) {
  .compilationsList {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(201px, 1fr));
    grid-gap: 10px;
    width: 100%;
    align-content: center;
    justify-items: center;
    overflow-y: scroll;
    padding-bottom: 15px;
    scrollbar-width: thin;
  }

  @media all and (max-width: 768px) {
    .compilationsList {
      grid-template-columns: repeat(auto-fill, minmax(121px, 1fr));
    }
  }
}

.compilationsList::-webkit-scrollbar {
  width: 2px;
}

.compilationsList::-webkit-scrollbar-thumb {
  width: 2px;
  background: var(--scrollbar);
  border-radius: 1px;
}

@media all and (max-width: 768px) {
  .newButton {
    min-width: 121px;
    max-width: 121px;
    min-height: 121px;
    max-height: 121px;
  }
}

.newButton {
  width: 201px;
  height: 201px;
  border-radius: 6%;
  margin: 10px;
  outline: none;
}

@media (min-width: 768px) {
  .transitionContainer {
    position: absolute;
    top: calc(100% - 45px);
    left: 0;
    width: 100%;
  }

  .saveBar {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.34),
      transparent
    );
  }

  .buttonLink {
    color: #fff;
  }
}
