
.leave {
    opacity: 1;
    height: 50px;
}

.leaveActive {
    opacity: 0;
    height: 0;
    transition: all 400ms ease-in
}

.enter {
    opacity: 0;
    height: 0;
}

.enterActive {
    opacity: 1;
    height: 50px;
    transition: 400ms ease-out;
}