
.searchContainer {
  color: #9a9a9a;
  display: flex;
  align-items: center;
  border: 1px solid var(--accent-second);
  background-color: transparent;
  padding: 6px 12px;
  border-radius: 6px;
  margin: 0 15px 15px;
}

.searchContainer input {
  border: none;
  padding: 0 5px;
  margin-left: 5px;
  color: var(--text);
  width: 100%;
  transition: 140ms;
  outline: none;
  background-color: transparent;
}

.searchContainer input::placeholder {
  color: #9a9a9a;
}
