
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.mobileContainer {
  composes: container;
  height: calc(100vh - 90px);
}
