
.wrapper {
  max-width: 100%;
  padding-bottom: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.wrapper::-webkit-scrollbar {
  width: 4px;
}

.wrapper::-webkit-scrollbar-thumb {
  width: 4px;
  background: var(--scrollbar);
  border-radius: 1px;
}

.label {
  display: flex;
  color: var(--text);
  margin: 8px 0;
}

.labelText {
  margin-top: 4px;
}

.container {
  padding: 0 10px;
}

.caption {
  border: 0;
  padding: 4px 8px;
  margin-left: 4px;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: var(--text);
  scrollbar-width: thin;
}

.caption::-webkit-scrollbar {
  width: 4px;
}

.caption::-webkit-scrollbar-thumb {
  width: 4px;
  background: var(--scrollbar);
  border-radius: 2px;
}

.button {
  width: 100%;
}
