
.container {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 200px;
  overflow: visible;
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  transform: translateX(-50%);
  z-index: 100;
  box-shadow: 0 0 5px rgba(0, 0, 0, .0975);
}

.list {
  max-height: 200px;
  overflow-y: auto;
}

.container::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: translateX(-50%) rotate(45deg);
  border-top: solid 1px #efefef;
  border-left: solid 1px #efefef;
}
