.pictureIcon {
    color: rgb(100, 100 , 100);
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    border: solid 2px currentColor;
}

.pictureIcon:before {
    content: '';
    position: absolute;
    left: 3px;
    top: 4px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: solid 1px currentColor;
}

.pictureIcon:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 14px;
    width: 12px;
    height: 8px;
    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}