@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.welcome {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*background: linear-gradient(135deg, rgba(3, 192, 253, .55), rgba(155, 35, 181, 0.5));*/
}

@media (min-width: 1300px) {
  .welcome {
    overflow-y: hidden;
  }
}

/* noise */
.welcome:before {
  content: "";
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #000;
  background-image: var(--login-noise-background);
}

.companyInfo {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0 50px 20px 50px;
  height: 320px;
  z-index: 2;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  color: var(--heading);
  margin: 0 0 0 10px;
}

.card {
  width: 320px;
  background-color: var(--primary);
  border: 1px solid var(--accent-second);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 2px 14px rgba(0, 0, 0, 0.17), 0 2px 8px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.nLogoContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0 50px 20px 50px;
  z-index: 2;
}

.nLogo {
  width: 280px;
}

.nTitle {
  color: var(--heading);
  margin: 5px 0 0 0;
}

@media (max-width: 768px) {
  .welcome {
    flex-direction: column;
    justify-content: flex-start;
  }

  .companyInfo {
    height: auto;
    margin: 10px 20px 40px 20px;
  }

  .nLogo {
    width: 120px;
  }

  .card {
    background-color: transparent;
    box-shadow: none;
    border: 0;
    padding: 10px 20px 0 20px;
  }

  .nLogoContainer {
    margin: 25px 50px 0 50px;
  }

  .catchword {
    display: none;
  }
}

.logo {
  width: 450px;
  height: 310px;
}

.catchword {
  position: absolute;
  right: 105px;
  top: 105px;
  background-color: var(--primary);
  color: var(--heading);
  border-radius: 5px;
  padding: 10px 14px;
  width: max-content;
  font-size: 1.1rem;
  z-index: 2;
}

.catchword::before {
  content: '';
  position: absolute;
  top: calc(100% - 8px);
  left: calc(100% - 40px);
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
  background-color: var(--primary);
  border-bottom: 1px solid var(--accent-second);
  border-right: 1px solid var(--accent-second);
  z-index: 1;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0,20px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}
