
.leave {
    opacity: 1;
    transform: scaleX(1) translateY(0);
}

.leaveActive {
    opacity: 0;
    transform: scaleX(0) translateY(100px);
    transition: all 500ms ease-in-out
}

.appear {
    transform: translateY(60%);
}

.appearActive {
    transform: translateY(0);
    transition: .3s ease-out;
}