
.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 18px 16px 12px;
  background: var(--primary);
  border-bottom: 1px solid var(--accent-second);
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  height: 50px;
  color: var(--text);
}

.check {
  color: cornflowerblue;
  cursor: pointer;
}

.title {
  margin-left: 15px;
  margin-right: auto;
}
