
.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 18px 16px 12px;
  border-radius: 4px 4px 0 0;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

.check {
  margin-left: auto;
  color: cornflowerblue;
  cursor: pointer;
}

.title {
  margin-left: 15px;
}
