
.userCardContainer {
    display: flex;
    margin: 10px 10px 15px 10px;
}

.subContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.actionButtons {
    display: flex;
    justify-content: space-evenly;
}

.avatar {
    height: 50px;
    width: 50px;
    color: black;
}

.avatar img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.usernameLink {
    color: black;
    font-weight: 500;
}