
.savedContainer {
  max-width: 350px;
  margin: 0 auto;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.compilationsLabel {
  margin: 15px 0 25px 0;
}

.bookmark {
  color: rgb(100, 100, 100);
  position: absolute;
  width: 18px;
  height: 24px;
  border-radius: 1px 1px 0 0;
  border-top: solid 2px currentColor;
  border-left: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transition: all 0.4s ease;
}

.bookmark:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 1px;
  width: 12px;
  height: 12px;
  border-top: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.compilationsList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 760px;
  margin: auto;
  padding-bottom: 20px;
}

.compilationContainer {
  display: flex;
  flex-wrap: wrap;
  width: 201px;
  height: 201px;
  margin: 10px;
  border-radius: 6%;
  overflow: hidden;
}

@supports (display: grid) {
  .compilationContainer {
    display: grid;
    grid-gap: 1px;
    border-radius: 6%;
    grid-template-columns: repeat(2, 100px);
    margin: 10px;
    overflow: hidden;
  }
}

.compilationName {
  font-weight: 600;
  color: var(--text);
}

.media {
  position: relative;
  cursor: pointer;
  min-width: 50%;
  overflow: hidden;
}

.singlePic {
  composes: media;
  width: 201px;
  height: 201px;
  cursor: pointer;
  border-radius: 6%;
  overflow: hidden;
}

.media:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.media img, video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

@media all and (max-width: 768px) {
  .compilationsList {
    max-width: 560px;
  }

  @supports (display: grid) {
    .compilationContainer {
      grid-template-columns: repeat(2, 60px);
    }
  }

  .compilationContainer {
    width: 121px;
    height: 121px;
  }

  .singlePic {
    width: 121px;
    height: 121px;
  }
}
