
.header {
    display: flex;
    flex-direction: row;
    padding: 0 20px 15px 5px;
    align-items: center;
    border-bottom: 1px solid #efefef;
}

@media (max-width: 768px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

@media (max-width: 500px) {
    .mainContainer {
        width: 300px;
    }
}

.sideContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 260px;
}

.container {
  height: fit-content;
  max-height: 90vh;
}
