
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2%;
}

.directionInfoContainer {
    display: flex;
    flex-direction: column;
    width: 310px;
    align-items: center;
}

@media all and (max-width: 425px){
    .subMainContainer {
        flex-direction: column;
    }

    .directionInfoContainer {
        align-items: center;
    }
}

.infoContainer {
    display: flex;
    flex-direction: column;
}